/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  background-image: url('../public/background1.jpg');
  /* Replace 'your-background-image.jpg' with the path to your image */
  height: 100%;
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding-bottom: 60px;
  /* Adjust this value as needed */
}

.form-container {
  margin-right: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.list-table {
  width: 50%;
}

.list-table table {
  width: 100%;
  border-collapse: collapse;
}

.list-table th,
.list-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.list-table th {
  background-color: #3f51b5;
  color: white;
}

.list-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.footer {
  background-color: #3f51b5;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}